.container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  position: relative;
}

/* HEADER MAIN STYLING */
.header {
  width: 100%;
  background-color: rgba(21, 27, 39, 0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

/* LOGO */
.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #29bd5d;
  padding: 20px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold; 
  gap: 20px;
  flex: 1; 
}

/* NAV LINKS ITEMS */
.header a {
  color: #29bd5d;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.header a:hover {
  color: #0ff;
  transform: scale(1.1);
}

/* PHONE NUMBER */
.separator {
  color: #ffffff;
}
.number {
  color: #0ff;
  font-family: 'Poppins', sans-serif;
}
.number i {
  margin-right: 6px;
  color: #29bd5d;
}

/* HAMBURGER ICON */
.hamburger {
  display: none;
  font-size: 24px;
  color: #29bd5d;
  cursor: pointer;
}

/* ---------- RESPONSIVE STYLING ---------- */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px; 
  }

  .nav-links {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: rgba(21, 27, 39, 0.9);
    border-radius: 10px;
    padding: 10px 0;
    z-index: 999;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
    padding: 20px;
  }
}

