<div class="container">
  <div class="about-text">
    <h1>ABOUT ME</h1>
  </div>
  <div class="custom-line"></div>

  <div class="about">
    <div class="about-image">
      <img src="assets/images/about.PNG" alt="About image" />
    </div>
    <div class="about-detail">
      <div class="about-heading">
        <h3>Hi There! I'm Muhammad Afzal</h3>
        <p>Web Developer</p>
        <div class="about-paragraph">
          <pre>A passionate .NET Core web developer with hands-on experience building modern, responsive web applications. I specialize in.NET Core , and I enjoy turning ideas into real-world solutions with code.</pre>
        </div>
      </div>
      <dl class="about-list">
        <div class="about-item">
          <dt>Birthday</dt>
          <dd>: <span>03-04-1996</span></dd>
        </div>
        <div class="about-item">
          <dt>From</dt>
          <dd>: <span>Pakistan</span></dd>
        </div>
        <div class="about-item">
          <dt>Phone</dt>
          <dd>: <span>+923469888608</span></dd>
        </div>
        <div class="about-item">
          <dt>Email</dt>
          <dd>: <span>afzalofficial911&#64;gmail.com</span></dd>
        </div>
        <div class="about-item">
          <dt>Language</dt>
          <dd>: <span>English, Urdu, Pashto</span></dd>
        </div>
        <div class="about-item">
          <dt>Freelance</dt>
          <dd>: <span>Available</span></dd>
        </div>
      </dl>
      <div class="detail-buttons">
        <button class="btn resume-btn">
          Download Resume <i class="fas fa-download"></i>
        </button>
      </div>


    </div>
  </div>
</div>