<div class="container">
  <div class="mainintro">
    <div class="intro-text">
      <div class="hello">
        <img src="assets/images/Hello.png" alt="Hello I'm" />
      </div>
      <h2><span class="first-name">MUHAMMAD</span> <br>
        <span class="last-name">AFZAL</span>
      </h2>
      <p>Web Developer</p>
      <div class="intro-buttons">
        <button class="btn hire-btn" (click)="scrollToContact()">Hire Me</button>
        <button class="btn resume-btn">
          Download Resume <i class="fas fa-download"></i>
        </button>
      </div>
    </div>
    <div class="intro-image-bg">
      <img src="assets/images/profile.png" alt="Profile image" />
    </div>
  </div>
</div>
