.container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  align-content: start;
}

.mainintro {
  flex-grow: 1;
  height: 75%;
  background-color: blueviolet;
}

.mainintro {
  display: flex;
  flex-wrap: wrap;
}

.intro-image,
.intro-text {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

.intro-image img {
  max-width: 100%;
  height: auto;
  display: block;
}
