* {
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  align-content: start;
  justify-content: center;
  margin-left: 100px;
}

.mainintro {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  background: #030303;
  width: 100%;
  min-height: auto;
  height: auto;
}

.intro-image-bg {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.intro-image-bg img {
  width: 100%;
  max-width: 500px;
  max-height: 600px;
  transform: scaleX(-1) translateX(-30px);
  object-fit: cover;
  transform: scaleX(-1) translateX(-60px);
  transition: transform 0.3s ease;
}

.hello {
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: -130px;
}

.hello img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: translateY(10px);
}

.intro-text {
  width: 51%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  overflow: hidden;
}

.intro-text h2 {
  margin-bottom: 12px;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
  font-weight: 900;
  color: rgb(253, 254, 255);
  word-break: break-word;
  max-width: 100%;
  transition: color 0.8s, transform 0.8s;
  padding-left: 70px;
}


.first-name, .last-name {
  display: inline-block;
  white-space: nowrap;
}

.intro-text p {
  font-size: 36px;
  color: rgb(169, 173, 184);
  font-weight: 300;
  line-height: 43px;
  font-family: 'Inter', sans-serif;
  margin-top: -5px;
  padding-left: 70px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(200, end) infinite alternate,
    blink 0.7s step-end infinite;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 70%;
  }
}

.intro-buttons {
  margin-bottom: 50px;
  padding-left: 70px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.intro-buttons .btn {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: background 0.3s, color 0.8s;
}

.hire-btn {
  background-color: #29bd5d;
  color: #fff;
}

.hire-btn:hover {
  background-color: #fff;
  color: #000;
}

.resume-btn {
  background-color: #29bd5d;
  color: #fff;
}

.resume-btn:hover {
  background-color: #fff;
  color: #000;
}

.resume-btn i {
  margin-right: 8px;
}


@media (max-width: 992px) {
  .mainintro {
    flex-direction: column;
    align-items: center;
    min-height: auto;
    padding-bottom: 10px;
  }

  .intro-image-bg {
    width: 90%;
    order: 1;
  }

  .intro-text {
    width: 100%;
    order: 2;
    align-items: flex-start;
    text-align: left;
  }

  .hello {
    margin-left: 35px;
    margin-bottom: -60px;
    align-self: left;
  }

  .hello img {
    max-width: 150px;
  }

  .intro-text {
    align-items: center;
    text-align: center;
  }

  .hello,
  .intro-text h2,
  .intro-text p,
  .intro-buttons {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .mainintro {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .intro-text h2:hover {
    transform: scale(1.1);
  }

  .hello {
    margin-bottom: -60px;
  }

  .hello img {
    max-width: 120px;
  }

  .intro-text h2 {
    font-size: 35px;
    padding-left: 0;
    display: inline;
    white-space: nowrap;
  }

  .intro-text {
    text-align: start;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .intro-text p,
  .first-name,
  .last-name,
  .intro-buttons {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }


  .intro-buttons .btn {
    padding: 4px 10px;
    font-size: small;
  }

  .intro-buttons {
    padding-left: 70px;
  }

  .intro-image-bg {
    display: none;
  }
}

@media (max-width: 480px) {
  .intro-text {
    width: 100%;
    max-height: 370px;
    padding: 0 10px;
  }

  .intro-text h2 {
    font-size: 35px;
    line-height: 1.2;
  }

  .intro-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .intro-buttons .btn {
    width: auto;
    text-align: center;
    font-size: small;
  }

  .intro-text p {
    padding-left: 70px;
    font-size: small;
  }

  .intro-image-bg {
    display: none;
  }
}